<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->


    <!-- Login Form -->
    <form>
      <input type="text" id="name" class="fadeIn first" name="name" placeholder="name">
      <input type="text" id="firstName" class="fadeIn second" name="firstname" placeholder="first name">
      <input type="text" id="job" class="fadeIn third" name="job" placeholder="job">
      <input type="text" id="location" class="fadeIn fourth" name="location" placeholder="location">
      <input type="text" id="email" class="fadeIn fourth" name="email" placeholder="email">
      <input type="text" id="phoneNumber" class="fadeIn fourth" name="phoneNumber" placeholder="phone number">
      <input type="text" id="skill1" class="fadeIn fourth" name="skill1" placeholder="skill">
      <input type="text" id="skill2" class="fadeIn fourth" name="skill2" placeholder="skill">
      <input type="text" id="skill3" class="fadeIn fourth" name="skill3" placeholder="skill">
      <input type="text" id="skill4" class="fadeIn fourth" name="skill4" placeholder="skill">
      <input type="text" id="language1" class="fadeIn fourth" name="language1" placeholder="language">
      <input type="text" id="language2" class="fadeIn fourth" name="language2" placeholder="language">
      <input type="text" id="language3" class="fadeIn fourth" name="language3" placeholder="language">
      <input type="text" id="experience1" class="fadeIn fourth" name="experience1" placeholder="work experience">
      <input type="text" id="experience2" class="fadeIn fourth" name="experience2" placeholder="work experience">
      <input type="text" id="experience3" class="fadeIn fourth" name="experience3" placeholder="work experience">
      <input type="text" id="education1" class="fadeIn fourth" name="education1" placeholder="education">
      <input type="text" id="education2" class="fadeIn fourth" name="education2" placeholder="education">
      <input type="text" id="education3" class="fadeIn fourth" name="education3" placeholder="education">
      <input type="submit" class="fadeIn fourth" value="Submit">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a (click)="navigateToTemplate()" class="underlineHover" >See template</a>
    </div>

  </div>
</div>
